
@model Web.UsersAndAwards.Models.UserEditViewModel
@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tableHolder">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset class="form">
            <legend>User form:</legend>

            <div>
                <p>First Name::</p>
            </div>
            <div>
                @Html.EditorFor(Model => Model.FirstName)
                @Html.ValidationMessageFor(Model => Model.FirstName)
            </div>
            <div>
                <p>Last Name:</p>
            </div>
            <div>
                @Html.EditorFor(Model => Model.LastName)
                @Html.ValidationMessageFor(Model => Model.LastName)
            </div>
            <div>
                <p>Birth Date:</p>
            </div>
            <div>
                @Html.EditorFor(Model => Model.BirthDate)
                @Html.ValidationMessageFor(Model => Model.BirthDate)
            </div>
            <div>
               <p>Awards:</p>
            </div>
            <div>
                @if (Model.AwardsCheckBox.Count != 0)
                {
                    for (int i = 0; i < Model.AwardsCheckBox.Count; i++)
                    {
                        <p>
                            @Html.EditorFor(Model => Model.AwardsCheckBox[i].IsChecked)
                            @Model.AwardsCheckBox[i].Title

                        </p>
                        @Html.HiddenFor(model => Model.AwardsCheckBox[i].id)
                        <br />
                    }

                }
            </div>

            <p class="menu">
                <input type="submit" value="Add" />
            </p>
        </fieldset>
    }
</div>
<div class="bottomMenu">
    <p> @Html.ActionLink("Cancel", "Index")</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


